# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [ ]:
mon_tuple = (26,3,8,"wild","code","school",[1,2,3],[4,5,6],{"name": "Lion","age":10000,"City":"Caliban"},{"country":"france","population":68000000,"capital":"paris"})
print(mon_tuple)
for item in mon_tuple:
  print(f'type of {item}: {type(item)}')

(26, 3, 8, 'wild', 'code', 'school', [1, 2, 3], [4, 5, 6], {'name': 'Lion', 'age': 10000, 'City': 'Caliban'}, {'country': 'france', 'population': 68000000, 'capital': 'paris'})
type of 26: <class 'int'>
type of 3: <class 'int'>
type of 8: <class 'int'>
type of wild: <class 'str'>
type of code: <class 'str'>
type of school: <class 'str'>
type of [1, 2, 3]: <class 'list'>
type of [4, 5, 6]: <class 'list'>
type of {'name': 'Lion', 'age': 10000, 'City': 'Caliban'}: <class 'dict'>
type of {'country': 'france', 'population': 68000000, 'capital': 'paris'}: <class 'dict'>

Now, access the second-to-last item in the second list.

In [ ]:
second_list = mon_tuple[7]

second_to_last_item = second_list[1]

print(second_to_last_item)

5

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [ ]:
last_four_elements = mon_tuple[-4:]

print(last_four_elements)

([1, 2, 3], [4, 5, 6], {'name': 'Lion', 'age': 10000, 'City': 'Caliban'}, {'country': 'france', 'population': 68000000, 'capital': 'paris'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [ ]:
# Tuple d'origine
mon_tuple = (26, 3, 8, "wild", "code", "school", [1, 2, 3], [4, 5, 6], {"name": "Lion", "age": 10000, "City": "Caliban"}, {"country": "france", "population": 68000000, "capital": "paris"})

# création d'un nouveau typle avec l'element changé
nouveau_tuple = mon_tuple[:3] + ("sauvage",) + mon_tuple[4:]

print(nouveau_tuple)

(26, 3, 8, 'sauvage', 'code', 'school', [1, 2, 3], [4, 5, 6], {'name': 'Lion', 'age': 10000, 'City': 'Caliban'}, {'country': 'france', 'population': 68000000, 'capital': 'paris'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highet total.

In [ ]:
tuple1 = (15,32,8,17)
tuple2 = (10,20,5,2)

#calcule de la somme des int de chaque tuples
somme_tuple1 = sum(tuple1)
somme_tuple2 = sum(tuple2)

#Comparaison des sommes et affichage des résultats
if somme_tuple1 > somme_tuple2:
  print("le Tuple 1 a le total le plus haut:",somme_tuple1)
elif somme_tuple2 > somme_tuple1:
  print("Le Tuple 2 a le total le plus haut:",somme_tuple2)
else:
  print("les deux Tuples on le même total ")

le Tuple 1 a le total le plus haut: 72

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [ ]:
mon_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

# Demande à l'utilisateur d'entrer une chaîne de caractères
user_string = input("Entrez une chaîne de caractères : ")

# Demandez à l'utilisateur d'entrer une position entière
position = int(input("Entrez une position entière : "))

# Créez une copie modifiée du tuple en utilisant une compréhension de liste
tuple_modifie = tuple(user_string if i == position else item for i, item in enumerate(mon_tuple))

# Affichez le tuple modifié
print("Tuple Modifié :", tuple_modifie)
#pour s'assurer que c'est une copie, affichage des ids
print(id(mon_tuple))
print(id(tuple_modifie))

Entrez une chaîne de caractères : babilabux
Entrez une position entière : 3
Tuple Modifié : ('data analyst', 'data scientist', 'data engineer', 'babilabux')
135341633387184
135341661241568